<div class="py-lg-4 pt-2 pb-2">
    <!-- container -->

    <div class="container">

        <div class="mb-4 ps-2 pe-2">
            <h4 class=""><b>Menu</b></h4>
            <p>Sistema de registro para inventario.</p>
        </div>

        <div class="row">
            <!-- col -->

            <div class="col-md-12 col-12">

                <app-menu-categories></app-menu-categories>


            </div>
        </div>

    </div>
</div>

<!-- Botón de retroceso -->
<div class="m-2 fixed-top ml-3 mb-2">
    <button type="button" class="btn btn-sm btn-color rounded-circle" (click)="goBack()">
        <i class="fas fa-arrow-left"></i>
    </button>
</div>