<div class="py-lg-4 pt-2 pb-2">
    <!-- container -->

    <div class="container">

        <div class="text-center mb-4">
            <h3 class=""><b>Bienvenidos</b></h3>
            <p>Sistema de registro para inventario.</p>
        </div>

        <div class="row">
            <!-- col -->

            <div class="col-md-12 col-12">

                <app-menu-categories></app-menu-categories>


            </div>
        </div>

    </div>
</div>

<!-- Botón de Retroceso -->
<div class="fixed-bottom ml-3 mb-2">
    <button type="button" class="btn btn-color rounded-circle" (click)="goBack()">
        <i class="fas fa-arrow-left"></i>
    </button>
</div>