<div class="container">
    <div class="m-3 p-4 text-center" id="comprasForm">
        <header class="mb-2 d-flex justify-content-center align-items-center">
            <h2>Ganancias</h2>
        </header>

        <!-- Tabla de Datos -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Valor Ganancia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>{{ today | date: 'shortDate' }}</td>
                        <td>{{ ganancia | currency: 'COP' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        
    </div>
    
    <div class="text-center mt-4">
        <button class="btn btn-success ml-2 download" (click)="descargarExcel()">
            Descargar Excel
            <i class="fa-solid fa-download"></i>
        </button>
    </div>
</div>

<!-- Botón de retroceso -->
<div class="m-2 fixed-top ml-3 mb-2">
    <button type="button" class="btn btn-sm btn-color rounded-circle" (click)="goBack()">
        <i class="fas fa-arrow-left"></i>
    </button>
</div>


<!-- Limpiar tablas -->
<button class="m-3 fixed-bottom btn btn-danger btn-sm" (click)="borrarDatos()">
    Borrar datos
    <i class="fa-solid fa-trash-can-arrow-up"></i>
</button>