<div class="container">

    <div class="m-3 p-4 text-center" id="comprasForm">
        <header class="mb-2 d-flex justify-content-center align-items-center">
            <h2 class="">Ganancias</h2>
        </header>

        <!-- Tabla de Datos -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Valor Ganancia</th>
                    </tr>
                </thead>
                <tbody id="tablaGanancias">
                    <!-- Aquí se mostrará la fila con el valor de ganancia -->
                </tbody>
            </table>
        </div>
        <!-- Limpiar tablas -->
        <button class="btn btn-danger btn-sm" id="borrarDatosBtn" style="display: none;"
            onclick="mostrarModalBorrarDatos()">
            Borrar datos
            <i class="fa-solid fa-trash-can-arrow-up"></i>
        </button>
    </div>
    <div class="text-center mt-4">
        <button class="btn btn-success ml-2 download" onclick="generarExcel()">
            Descargar Excel
            <i class="fa-solid fa-download"></i>
        </button>
    </div>

</div>

<!-- Botón de Retroceso -->
<div class="fixed-bottom ml-3 mb-2">
    <button type="button" class="btn btn-color rounded-circle" (click)="goBack()">
        <i class="fas fa-arrow-left"></i>
    </button>
</div>

<!-- Modal de confirmación para borrar datos -->
<div class="modal fade" id="confirmarBorrarModal" tabindex="-1" role="dialog"
    aria-labelledby="confirmarBorrarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarBorrarModalLabel">Confirmar acción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar los datos de todas las tablas?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="borrarDatos()">Aceptar</button>
            </div>
        </div>
    </div>
</div>