<div class="container-fluid">
    <div class="row">

        <!--   <div class="col-md-12 col-12 mb-2 ps-4 pe-4 mt-3">
            
        </div> -->

        <div class="col-md-12 col-12">
            <div class="card card-welcome mb-2">
                <div class="card-body ps-4 pe-4">
                    <div class="d-flex align-items-center">
                        <div class="w-100">
                            <h2><b>Bienvenido</b></h2>
                            <p>Aquí podras llevar el inventario de cada uno de tus lotes.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 col-12 mb-2 ps-4 pe-4 mt-3 text-center text-white">
            <h6>Seleccione un lote</h6>
        </div>

        <div class="px-3 py-3">
            <div class="col-md-12 col-12 text-center">

                <div class="row gy-4">

                    <div class="col-md-6 col-6">
                        <div class="card card-lote mb-2 clickable-card" (click)="navigateToLote1()">
                            <div class="card-body card-color-text">
                                <div class="d-flex align-items-center">
                                    <div class="w-100">
                                        <h4 class="mb-0 mt-2 font-weight-bold"><b>Lote</b></h4>
                                    </div>
                                </div>
                                <h1 class="font-weight-bold"><b>1</b></h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-6">
                        <!-- card -->
                        <div class="card card-lote mb-2 clickable-card" (click)="navigateToError()">
                            <div class="card-body card-color-text">
                                <div class="d-flex align-items-center">
                                    <div class="w-100">
                                        <h4 class="mb-0 mt-2 font-weight-bold"><b>Lote</b></h4>
                                    </div>
                                </div>
                                <h1 class="font-weight-bold"><b>2</b></h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-6">
                        <div class="card card-lote mb-2 clickable-card" (click)="navigateToError()">
                            <div class="card-body card-color-text">
                                <div class="d-flex align-items-center">
                                    <div class="w-100">
                                        <h4 class="mb-0 mt-2 font-weight-bold"><b>Lote</b></h4>
                                    </div>
                                </div>
                                <h1 class="font-weight-bold"><b>3</b></h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-6">
                        <div class="card card-lote mb-2 clickable-card" (click)="navigateToError()">
                            <div class="card-body card-color-text">
                                <div class="d-flex align-items-center">
                                    <div class="w-100">
                                        <h4 class="mb-0 mt-2 font-weight-bold"><b>Lote</b></h4>
                                    </div>
                                </div>
                                <h1 class="font-weight-bold"><b>4</b></h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>