<div class="container">
    <div class="text-center mb-4">
        <h3 class=""><b>Bienvenidos</b></h3>
        <p>Sistema de registro para inventario.</p>
    </div>
    <div class="row">
        <!-- col -->

        <div class="col-md-12 col-12">

            <div class="row gy-4">

                <div class="col-md-6 col-6">
                    <div class="card card-lote mb-3 clickable-card"  (click)="navigateToLote1()">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <h4 class="mb-0 mt-2">Lote</h4>
                                </div>
                            </div>
                            <h1>1</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <!-- card -->
                    <div class="card card-lote mb-3 clickable-card" (click)="navigateToError()">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <h4 class="mb-0 mt-2">Lote</h4>
                                </div>
                            </div>
                            <h1>2</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <!-- card -->
                    <div class="card card-lote mb-3 clickable-card" (click)="navigateToError()">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <h4 class="mb-0 mt-2">Lote</h4>
                                </div>
                            </div>
                            <h1>3</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div class="card card-lote mb-3 clickable-card" (click)="navigateToError()">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <h4 class="mb-0 mt-2">Lote</h4>
                                </div>
                            </div>
                            <h1>4</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>