<div class="row gy-4">

    <div class="col-md-6 col-6">
        <!-- card -->
        <div class="card card-compras mb-2 clickable-card" (click)="navigateToShopping()">
            <div class="card-body text-center">
                <i class="fa-solid fa-cart-shopping"></i>
                <div class="d-flex align-items-center">
                    <div class="w-100">
                        <h4 class="mb-0 mt-2 text-center">Compras</h4>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0">Lote 1</p>
                            <a href="compras.html" class="text-end">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-6">
        <!-- card -->
        <div class="card card-perdidas clickable-card" (click)="navigateToLosses()">
            <div class="card-body text-center">
                <i class="fa-solid fa-shop-slash"></i>
                <div class="d-flex align-items-center">
                    <div class="w-100">
                        <h4 class="mb-0 mt-2 text-center">Perdidas</h4>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0">Lote 1</p>
                            <a href="perdidas.html" class="text-end">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-6">
        <!-- card -->
        <div class="card card-ventas clickable-card" (click)="navigateToSales()">
            <div class="card-body text-center">
                <i class="fa-solid fa-bolt"></i>
                <div class="d-flex align-items-center">
                    <div class="w-100">
                        <h4 class="mb-0 mt-2 text-center">Ventas</h4>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0">Lote 1</p>
                            <a href="ventas.html">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-6">
        <!-- card -->
        <div class="card card-ganancias clickable-card" (click)="navigateToEarnings()">
            <div class="card-body text-center">
                <i class="fa-solid fa-chart-simple"></i>
                <div class="d-flex align-items-center">
                    <div class="w-100">
                        <h4 class="mb-0 mt-2 text-center">Ganancias</h4>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0">Lote 1</p>
                            <a href="ganancias.html">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>