<div class="container p-4">
    <h1 mat-dialog-title class="text-center font-weight-bold">Datos Ingresados</h1>
    <div mat-dialog-content class="table-responsive">

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Item</th>
                    <th scope="col" class="text-center">Fecha</th>
                    <th scope="col" class="text-center">Descripción</th>
                    <th scope="col" class="text-center">Cantidad</th>
                    <th scope="col" class="text-center">Valor</th>
                    <th scope="col" class="text-center">Observaciones</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of datos; let i = index">
                    <td class="text-center">{{dato.item}}</td>
                    <td class="text-center">{{dato.fecha}}</td>
                    <td class="text-center">{{dato.descripcion}}</td>
                    <td class="text-center">{{dato.cantidad}}</td>
                    <td class="text-center">{{dato.valor | currency: 'COP'}}</td>
                    <td class="text-center">{{dato.observaciones}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="eliminarDato(i)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td>Total: <span>{{ totalValor | currency: 'COP' }}</span></td>
                    <td colspan="2"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="d-flex justify-content-around p-3">
    <button class="btn btn-danger" (click)="cerrarModal()">Cerrar</button>
</div>