/* You can add global styles to this file, and also import other style files */
/* body {
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    font-family: 'Poppins', sans-serif;
    color: #333333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 */
/* Estilos para la card */

.card {
    border-radius: 20px;
    box-shadow: 0 4px 8px #d4dcef;
    border: none;
}

.card-lote {
    background-color: #fdd264;
}

.card-lote:hover {
    box-shadow: 0 8px 16px #d4dcef;
    background-color: #f7c54a;
}

.card-compras {
    background-color: #aed2f7;
}

.card-compras:hover {
    box-shadow: 0 8px 16px #d4dcef;
    background-color: #7fa8f7;
}

.card-perdidas {
    background-color: #f7a3a3;
}

.card-perdidas:hover {
    box-shadow: 0 8px 16px #d4dcef;
    background-color: #f77a7a;
}

.card-ventas {
    background-color: #f7d6a3;
}

.card-ventas:hover {
    box-shadow: 0 8px 16px #d4dcef;
    background-color: #f7b87a;
}

.card-ganancias {
    background-color: #a3f7a3;
}

.card-ganancias:hover {
    box-shadow: 0 8px 16px #d4dcef;
    background-color: #7af77a;
}

.clickable-card {
    cursor: pointer;
    color: #fff;
}

.clickable-card i {
    color: #fff;
}

/* ----------------- */

.download:hover {
    background-color: #828594;
    border: none;
}


/* Colores de filas en el modal Ventas */
.debe {
    background-color: #f7a3a3 !important;
}

.pago {
    background-color: #a3f7a3 !important;
}

/* ----------------- */

#main-container {
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo para los botones */
.custom-btn {
    display: block;
    width: 80%;
    margin: 0 auto 10px;
    border-radius: 20px;
    background-color: #fefffe;
    color: #828594;
    border: none;
    box-shadow: 0 4px 8px #d4dcef;
}

.custom-btn:hover {
    background-color: #bfc3fc;
}

#tablaModal .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.btn-color {
    background-color: #fab913;
    color: #fff;
    box-shadow: 0 4px 8px #fdd264;
}

/* Estilos para redondear las esquinas de los inputs y textarea */
.form-control,
textarea,
.btn {
    border-radius: 15px;
}

.btn-color:hover {
    background-color: #fdd264;
    color: #fff;
}

/* Estilos adicionales si lo necesitas */
#comprasForm {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 8px 12px #f7d6a3;

}

@media screen and (max-width: 768px) {
    .table {
        font-size: 12px;
    }

    h4 {
        font-size: 1.2rem;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
